[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
jupyter = "*"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
